
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body { margin: 0; width: 100%; min-width: 330px; }

/* En-tête*/
header {
    width: 100%;
    text-align: center;
}			

/* Menu de navigation */
#menu {
    margin-left: auto;
    margin-right: auto;	
    text-align: center;
    display: table;
    border-spacing: 2em;
}

header > nav > div {
    display: table-row;
}

/* Tout bouton du menu */
header > nav > div > a.button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: table-cell;
    border-style: solid;
        border-width: 1px;
        border-color: #4CAF50; /* Green */
    font-size: 1.2em;
        /* ------------------------------------------------------- */
        /* Question A: transition  et pointeur */			    
    
}

.button.butBlue {
    background-color: #008CBA; 
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: table-cell;
    border-style: solid;
        border-width: 1px;
        border-color: #008CBA; 
    font-size: 1.2em;
    
}

/* Question A : Transition */


